<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:sharedUserId="android.uid.system"
          package="org.aospextended.device"
          android:versionCode="1"
          android:versionName="1" >

    <uses-permission android:name="android.permission.INJECT_EVENTS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions"/>

    <protected-broadcast android:name="com.android.systemui.doze.pulse" />
    <protected-broadcast android:name="org.aospextended.device.UPDATE_SETTINGS" />

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="24"/>

    <application
            android:icon="@android:drawable/sym_def_app_icon"
            android:label="@string/RealmeParts">

        <!-- stub to ensure its loaded - DO NOT REMOVE -->
        <activity android:name=".KeyHandler" />

        <activity
            android:name=".RealmePartsActivity"
            android:label="@string/RealmeParts"
            android:exported="true"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
	    </activity>

        <activity-alias
            android:name=".RealmeParts"
            android:label="@string/RealmeParts"
            android:targetActivity="RealmePartsActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_settings_gestures" />
            <meta-data
                android:name="com.android.settings.bg.hint"
                android:resource="@color/icon_bg_color"  />
            <meta-data
                android:name="com.android.settings.bg.argb"
                android:value="@color/icon_bg_color"/>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.homepage" />
            <meta-data android:name="com.android.settings.summary"
                android:resource="@string/RealmeParts_summary" />
        </activity-alias>

        <activity
            android:name=".gestures.TouchGesturesActivity"
            android:label="@string/screen_off_gestures"
            android:exported="true"
            android:theme="@style/Theme.SubSettingsBase">
          <intent-filter>
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
          </intent-filter>
        </activity>

        <receiver android:name=".BootReceiver" android:exported="true">
          <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
        </receiver>

        <receiver android:name="org.aospextended.device.Startup" android:exported="true">
            <intent-filter android:priority="100" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name=".doze.DozeService"
                 android:permission="RealmeDozeService">
        </service>
        <!-- Quick Settings Tiles -->
        <service
            android:name="org.aospextended.device.DCModeTileService"
            android:icon="@drawable/ic_dc_tile"
            android:label="@string/tile_dc_mode"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name="org.aospextended.device.HBMModeTileService"
            android:icon="@drawable/ic_hbm_tile"
            android:label="@string/tile_hbm_mode"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name="org.aospextended.device.SRGBModeTileService"
            android:icon="@drawable/ic_srgb_tile"
            android:label="@string/tile_srgb_mode"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name="org.aospextended.device.GameModeTileService"
            android:icon="@drawable/ic_game_tile"
            android:label="@string/tile_game_mode"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name="org.aospextended.device.OtgToggleService"
            android:icon="@drawable/ic_otg_tile"
            android:label="@string/tile_otg_mode"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <!-- Quick Settings Tiles -->
        <service
            android:name="org.aospextended.device.DCModeTileService"
            android:icon="@drawable/ic_dc_tile"
            android:label="@string/tile_dc_mode"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name="org.aospextended.device.HBMModeTileService"
            android:icon="@drawable/ic_hbm_tile"
            android:label="@string/tile_hbm_mode"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name="org.aospextended.device.SRGBModeTileService"
            android:icon="@drawable/ic_srgb_tile"
            android:label="@string/tile_srgb_mode"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name="org.aospextended.device.GameModeTileService"
            android:icon="@drawable/ic_game_tile"
            android:label="@string/tile_game_mode"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name="org.aospextended.device.OtgToggleService"
            android:icon="@drawable/ic_otg_tile"
            android:label="@string/tile_otg_mode"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <activity
            android:name=".doze.DozeSettingsActivity"
            android:label="@string/ambient_display_title"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="org.aospextended.device.DOZE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
