on boot
    chown system system /sys/kernel/oppo_display/notify_fppress
    chown system system /sys/kernel/oppo_display/dimlayer_hbm
    chown system system /sys/kernel/oppo_display/power_status
    chown system system /sys/kernel/oppo_display/notify_panel_blank

    chmod 0666 /sys/kernel/oppo_display/notify_fppress
    chmod 0666 /sys/kernel/oppo_display/dimlayer_hbm
    chmod 0666 /sys/kernel/oppo_display/power_status
    chmod 0666 /sys/kernel/oppo_display/notify_panel_blank

service vendor.fingerprint-inscreen-1-0 /vendor/bin/hw/vendor.lineage.biometrics.fingerprint.inscreen@1.0-service.realme_sdm710
    interface vendor.lineage.biometrics.fingerprint.inscreen@1.0::IFingerprintInscreen default
    class hal
    user system
    group system
    priority -20
    shutdown critical
